.dockerignore
.env
.env.example
.gitignore
*.md
coverage/
docker-compose.yml
Dockerfile

.idea/
.vscode/

._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.DS_Store
.fseventsd
.git/
.go/
.gocache/
.gomodcache/
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
[Dd]esktop.ini
*.cab
*.dll
*.dylib
*.exe
*.exe~
*.icloud
*.lnk
*.msi
*.msix
*.msm
*.msp
*.out
*.so
*.stackdump
*.test
$RECYCLE.BIN/
bin/
dist/
ehthumbs_vista.db
ehthumbs.db
go.work
Network Trash Folder
Temporary Items
Thumbs.db
Thumbs.db:encryptable
